In [3]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [4]:
df=pd.read_csv(r"C:\CLG work\Projects\Ola Dashboard\Bookings_ola.csv")
df.head()

,Date,Time,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,...,Canceled_Rides_by_Driver,Incomplete_Rides,Incomplete_Rides_Reason,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating,Vehicle Images,Unnamed: 20
0,2024-07-26 14:00:00,14:00:00,CNR7153255142,Canceled by Driver,CID713523,Prime Sedan,Tumkur Road,RT Nagar,NaN,NaN,...,Personal & Car related issue,NaN,NaN,444.0,NaN,0.0,NaN,NaN,#NAME?,NaN
1,2024-07-25 22:20:00,22:20:00,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,203.0,30.0,...,NaN,No,NaN,158.0,Cash,13.0,4.1,4.0,#NAME?,NaN
2,2024-07-30 19:59:00,19:59:00,CNR2982357879,Success,CID270156,Prime SUV,Sahakar Nagar,Varthur,238.0,130.0,...,NaN,No,NaN,386.0,UPI,40.0,4.2,4.8,#NAME?,NaN
3,2024-07-22 3:15:00,03:15:00,CNR2395710036,Canceled by Customer,CID581320,eBike,HSR Layout,Vijayanagar,NaN,NaN,...,NaN,NaN,NaN,384.0,NaN,0.0,NaN,NaN,#NAME?,NaN
4,2024-07-02 9:02:00,09:02:00,CNR1797421769,Success,CID939555,Mini,Rajajinagar,Chamarajpet,252.0,80.0,...,NaN,No,NaN,822.0,Credit Card,45.0,4.0,3.0,#NAME?,NaN

In [5]:
df.shape

(103024, 21)

In [6]:
df.describe()

,V_TAT,C_TAT,Booking_Value,Ride_Distance,Driver_Ratings,Customer_Rating,Unnamed: 20
count,44271.000000,44271.000000,71201.000000,71201.000000,44271.000000,44271.000000,0.0
mean,171.323620,84.955275,548.233901,14.206598,3.997994,3.997145,NaN
std,80.682293,35.959016,535.399324,15.778237,0.577948,0.578574,NaN
min,35.000000,25.000000,100.000000,0.000000,3.000000,3.000000,NaN
25%,98.000000,55.000000,242.000000,0.000000,3.500000,3.500000,NaN
50%,168.000000,85.000000,385.000000,8.000000,4.000000,4.000000,NaN
75%,238.000000,115.000000,622.000000,27.000000,4.500000,4.500000,NaN
max,308.000000,145.000000,2999.000000,49.000000,5.000000,5.000000,NaN

In [7]:
df['Unnamed: 20'].unique()

array([nan])

In [9]:
df.drop('Unnamed: 20',axis=1,inplace=True)

In [10]:
df['Booking_Value'].sum()

np.float64(39034802.0)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103024 entries, 0 to 103023
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        71201 non-null  object
 1   Time                        71201 non-null  object
 2   Booking_ID                  71201 non-null  object
 3   Booking_Status              71201 non-null  object
 4   Customer_ID                 71201 non-null  object
 5   Vehicle_Type                71201 non-null  object
 6   Pickup_Location             71201 non-null  object
 7   Drop_Location               71201 non-null  object
 8   V_TAT                       44271 non-null  float64
 9   C_TAT                       44271 non-null  float64
 10  Canceled_Rides_by_Customer  7214 non-null   object
 11  Canceled_Rides_by_Driver    12728 non-null  object
 12  Incomplete_Rides            44271 non-null  object
 13  Incomplete_Rides_Reason     2685 non-null   object
 14  Booking_Value               71201 non-null  float64
 15  Payment_Method              44271 non-null  object
 16  Ride_Distance               71201 non-null  float64
 17  Driver_Ratings              44271 non-null  float64
 18  Customer_Rating             44271 non-null  float64
 19  Vehicle Images              71201 non-null  object
dtypes: float64(6), object(14)
memory usage: 15.7+ MB

In [14]:
df.drop_duplicates(inplace=True)
df.shape

(71202, 20)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71202 entries, 0 to 71201
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        71201 non-null  object
 1   Time                        71201 non-null  object
 2   Booking_ID                  71201 non-null  object
 3   Booking_Status              71201 non-null  object
 4   Customer_ID                 71201 non-null  object
 5   Vehicle_Type                71201 non-null  object
 6   Pickup_Location             71201 non-null  object
 7   Drop_Location               71201 non-null  object
 8   V_TAT                       44271 non-null  float64
 9   C_TAT                       44271 non-null  float64
 10  Canceled_Rides_by_Customer  7214 non-null   object
 11  Canceled_Rides_by_Driver    12728 non-null  object
 12  Incomplete_Rides            44271 non-null  object
 13  Incomplete_Rides_Reason     2685 non-null   object
 14  Booking_Value               71201 non-null  float64
 15  Payment_Method              44271 non-null  object
 16  Ride_Distance               71201 non-null  float64
 17  Driver_Ratings              44271 non-null  float64
 18  Customer_Rating             44271 non-null  float64
 19  Vehicle Images              71201 non-null  object
dtypes: float64(6), object(14)
memory usage: 11.4+ MB

In [19]:
df1=df.copy()
df1.drop(['Date','Time', 'Booking_ID', 'Booking_Status', 'Customer_ID',
       'Vehicle_Type','Canceled_Rides_by_Customer', 'Canceled_Rides_by_Driver',
       'Incomplete_Rides', 'Incomplete_Rides_Reason','Payment_Method','Driver_Ratings', 'Customer_Rating',
       'Vehicle Images'],axis=1,inplace=True)

In [16]:
df.columns

Index(['Date', 'Time', 'Booking_ID', 'Booking_Status', 'Customer_ID',
       'Vehicle_Type', 'Pickup_Location', 'Drop_Location', 'V_TAT', 'C_TAT',
       'Canceled_Rides_by_Customer', 'Canceled_Rides_by_Driver',
       'Incomplete_Rides', 'Incomplete_Rides_Reason', 'Booking_Value',
       'Payment_Method', 'Ride_Distance', 'Driver_Ratings', 'Customer_Rating',
       'Vehicle Images'],
      dtype='object')

In [20]:
df1

,Pickup_Location,Drop_Location,V_TAT,C_TAT,Booking_Value,Ride_Distance
0,Tumkur Road,RT Nagar,NaN,NaN,444.0,0.0
1,Magadi Road,Varthur,203.0,30.0,158.0,13.0
2,Sahakar Nagar,Varthur,238.0,130.0,386.0,40.0
3,HSR Layout,Vijayanagar,NaN,NaN,384.0,0.0
4,Rajajinagar,Chamarajpet,252.0,80.0,822.0,45.0
...,...,...,...,...,...,...
71197,Electronic City,Varthur,49.0,30.0,154.0,28.0
71198,Sahakar Nagar,Rajarajeshwari Nagar,NaN,NaN,447.0,0.0
71199,Rajarajeshwari Nagar,Electronic City,NaN,NaN,833.0,0.0
71200,BTM Layout,Sahakar Nagar,217.0,25.0,453.0,14.0
71201,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71202 entries, 0 to 71201
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Pickup_Location  71201 non-null  object
 1   Drop_Location    71201 non-null  object
 2   V_TAT            44271 non-null  float64
 3   C_TAT            44271 non-null  float64
 4   Booking_Value    71201 non-null  float64
 5   Ride_Distance    71201 non-null  float64
dtypes: float64(4), object(2)
memory usage: 3.8+ MB

In [22]:
df1.drop(['V_TAT', 'C_TAT'],axis=1)

,Pickup_Location,Drop_Location,Booking_Value,Ride_Distance
0,Tumkur Road,RT Nagar,444.0,0.0
1,Magadi Road,Varthur,158.0,13.0
2,Sahakar Nagar,Varthur,386.0,40.0
3,HSR Layout,Vijayanagar,384.0,0.0
4,Rajajinagar,Chamarajpet,822.0,45.0
...,...,...,...,...
71197,Electronic City,Varthur,154.0,28.0
71198,Sahakar Nagar,Rajarajeshwari Nagar,447.0,0.0
71199,Rajarajeshwari Nagar,Electronic City,833.0,0.0
71200,BTM Layout,Sahakar Nagar,453.0,14.0
71201,NaN,NaN,NaN,NaN

In [29]:
df1.dropna(subset=['V_TAT','C_TAT'],inplace=True)

In [30]:
df1

,Pickup_Location,Drop_Location,V_TAT,C_TAT,Booking_Value,Ride_Distance
1,Magadi Road,Varthur,203.0,30.0,158.0,13.0
2,Sahakar Nagar,Varthur,238.0,130.0,386.0,40.0
4,Rajajinagar,Chamarajpet,252.0,80.0,822.0,45.0
5,Kadugodi,Vijayanagar,231.0,90.0,173.0,41.0
6,Tumkur Road,Whitefield,133.0,40.0,140.0,49.0
...,...,...,...,...,...,...
71193,Indiranagar,Frazer Town,56.0,55.0,1460.0,2.0
71194,Mysore Road,Peenya,119.0,140.0,203.0,16.0
71196,Rajajinagar,Sarjapur Road,126.0,40.0,325.0,4.0
71197,Electronic City,Varthur,49.0,30.0,154.0,28.0
71200,BTM Layout,Sahakar Nagar,217.0,25.0,453.0,14.0

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44271 entries, 1 to 71200
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Pickup_Location  44271 non-null  object
 1   Drop_Location    44271 non-null  object
 2   V_TAT            44271 non-null  float64
 3   C_TAT            44271 non-null  float64
 4   Booking_Value    44271 non-null  float64
 5   Ride_Distance    44271 non-null  float64
dtypes: float64(4), object(2)
memory usage: 2.4+ MB

In [33]:
df1['Pickup_Location'].value_counts()

Pickup_Location
Indiranagar             939
Banashankari            938
Cox Town                935
Yeshwanthpur            934
Electronic City         925
Mysore Road             923
KR Puram                921
Ramamurthy Nagar        918
Koramangala             914
Hennur                  912
BTM Layout              911
Magadi Road             909
Shivajinagar            906
Frazer Town             906
MG Road                 905
Nagarbhavi              904
RT Nagar                903
Malleshwaram            901
Tumkur Road             899
Jayanagar               897
Ulsoor                  893
Kammanahalli            891
Rajarajeshwari Nagar    887
Sahakar Nagar           886
Hebbal                  885
Richmond Town           884
Basavanagudi            883
HSR Layout              881
Peenya                  879
Kengeri                 875
Kadugodi                875
Yelahanka               874
JP Nagar                874
Marathahalli            871
Whitefield              870
Vijayanagar             869
Sarjapur Road           864
Hulimavu                863
Bannerghatta Road       861
Shantinagar             860
Varthur                 858
Majestic                856
Chickpet                855
Bellandur               845
Hosur Road              845
Devanahalli             843
Chamarajpet             843
Padmanabhanagar         837
Langford Town           833
Rajajinagar             831
Name: count, dtype: int64

In [35]:
print('The Sum of Booking value of the month September 2021 is :',df1['Booking_Value'].sum())

The Sum of Booking value of the month September 2021 is : 24216619.0

In [41]:
df1

,Pickup_Location,Drop_Location,V_TAT,C_TAT,Booking_Value,Ride_Distance
0,Magadi Road,Varthur,203.0,30.0,158.0,13.0
1,Sahakar Nagar,Varthur,238.0,130.0,386.0,40.0
2,Rajajinagar,Chamarajpet,252.0,80.0,822.0,45.0
3,Kadugodi,Vijayanagar,231.0,90.0,173.0,41.0
4,Tumkur Road,Whitefield,133.0,40.0,140.0,49.0
...,...,...,...,...,...,...
44266,Indiranagar,Frazer Town,56.0,55.0,1460.0,2.0
44267,Mysore Road,Peenya,119.0,140.0,203.0,16.0
44268,Rajajinagar,Sarjapur Road,126.0,40.0,325.0,4.0
44269,Electronic City,Varthur,49.0,30.0,154.0,28.0
44270,BTM Layout,Sahakar Nagar,217.0,25.0,453.0,14.0

In [40]:
df1.reset_index(drop=True,inplace=True)

In [43]:
df1.to_csv('cleaned_olaSet.csv',index=False)

In [53]:
df3=df.copy()
df3

,Date,Time,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,Canceled_Rides_by_Customer,Canceled_Rides_by_Driver,Incomplete_Rides,Incomplete_Rides_Reason,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating,Vehicle Images
0,2024-07-26 14:00:00,14:00:00,CNR7153255142,Canceled by Driver,CID713523,Prime Sedan,Tumkur Road,RT Nagar,NaN,NaN,NaN,Personal & Car related issue,NaN,NaN,444.0,NaN,0.0,NaN,NaN,#NAME?
1,2024-07-25 22:20:00,22:20:00,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,203.0,30.0,NaN,NaN,No,NaN,158.0,Cash,13.0,4.1,4.0,#NAME?
2,2024-07-30 19:59:00,19:59:00,CNR2982357879,Success,CID270156,Prime SUV,Sahakar Nagar,Varthur,238.0,130.0,NaN,NaN,No,NaN,386.0,UPI,40.0,4.2,4.8,#NAME?
3,2024-07-22 3:15:00,03:15:00,CNR2395710036,Canceled by Customer,CID581320,eBike,HSR Layout,Vijayanagar,NaN,NaN,Driver is not moving towards pickup location,NaN,NaN,NaN,384.0,NaN,0.0,NaN,NaN,#NAME?
4,2024-07-02 9:02:00,09:02:00,CNR1797421769,Success,CID939555,Mini,Rajajinagar,Chamarajpet,252.0,80.0,NaN,NaN,No,NaN,822.0,Credit Card,45.0,4.0,3.0,#NAME?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71197,2024-07-16 5:02:00,05:02:00,CNR3906366271,Success,CID538007,Prime Plus,Electronic City,Varthur,49.0,30.0,NaN,NaN,No,NaN,154.0,Cash,28.0,3.6,3.6,#NAME?
71198,2024-07-03 22:14:00,22:14:00,CNR4789445170,Canceled by Customer,CID382728,Prime Plus,Sahakar Nagar,Rajarajeshwari Nagar,NaN,NaN,Driver is not moving towards pickup location,NaN,NaN,NaN,447.0,NaN,0.0,NaN,NaN,#NAME?
71199,2024-07-29 12:17:00,12:17:00,CNR5806198441,Canceled by Driver,CID686055,Bike,Rajarajeshwari Nagar,Electronic City,NaN,NaN,NaN,Customer was coughing/sick,NaN,NaN,833.0,NaN,0.0,NaN,NaN,#NAME?
71200,2024-07-19 21:38:00,21:38:00,CNR4531167950,Success,CID923283,Prime SUV,BTM Layout,Sahakar Nagar,217.0,25.0,NaN,NaN,No,NaN,453.0,UPI,14.0,4.6,3.4,#NAME?
71201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df3.drop(['Date','Time', 'Booking_ID', 'Booking_Status', 'Customer_ID',
       'Canceled_Rides_by_Customer', 'Canceled_Rides_by_Driver',
       'Incomplete_Rides', 'Incomplete_Rides_Reason','Payment_Method','Driver_Ratings', 'Customer_Rating',
       'Vehicle Images'],axis=1,inplace=True)

In [55]:
df3.head()

,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,Booking_Value,Ride_Distance
0,Prime Sedan,Tumkur Road,RT Nagar,NaN,NaN,444.0,0.0
1,Bike,Magadi Road,Varthur,203.0,30.0,158.0,13.0
2,Prime SUV,Sahakar Nagar,Varthur,238.0,130.0,386.0,40.0
3,eBike,HSR Layout,Vijayanagar,NaN,NaN,384.0,0.0
4,Mini,Rajajinagar,Chamarajpet,252.0,80.0,822.0,45.0

In [58]:
df3.dropna(subset=['V_TAT', 'C_TAT'],inplace=True)

In [59]:
df3

,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,Booking_Value,Ride_Distance
1,Bike,Magadi Road,Varthur,203.0,30.0,158.0,13.0
2,Prime SUV,Sahakar Nagar,Varthur,238.0,130.0,386.0,40.0
4,Mini,Rajajinagar,Chamarajpet,252.0,80.0,822.0,45.0
5,Mini,Kadugodi,Vijayanagar,231.0,90.0,173.0,41.0
6,Bike,Tumkur Road,Whitefield,133.0,40.0,140.0,49.0
...,...,...,...,...,...,...,...
71193,Prime Plus,Indiranagar,Frazer Town,56.0,55.0,1460.0,2.0
71194,Bike,Mysore Road,Peenya,119.0,140.0,203.0,16.0
71196,Auto,Rajajinagar,Sarjapur Road,126.0,40.0,325.0,4.0
71197,Prime Plus,Electronic City,Varthur,49.0,30.0,154.0,28.0
71200,Prime SUV,BTM Layout,Sahakar Nagar,217.0,25.0,453.0,14.0

In [60]:
df3.reset_index(drop=True,inplace=True)

In [62]:
df3.to_csv('clean_ola.csv',index=False)